body {
  background-color: lightblue;
}

h1 {
  color: rgb(0, 0, 0);
  text-align: left;
}
.form-group {
  margin-bottom: 10px;
  
}
.form-wrapper {
  width: 100%; 
  max-width: 900px;
  margin: 0 auto; 
}
form {
     width: 80%;
  max-width: 1000px;
  
  margin: 60px auto;
  padding: 40px;
}
.header {
  text-align: right;
}

.navbar a {
  margin: 0 60px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
}
button {
  width: 140px;
  padding: 8px;
  background-color: #266183;
  color: white;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  margin: 20px auto 0 auto; 
  display: block;
  transition: background 0.3s ease;
}
